<div id="article_view">
        <div id="article_nav">
            <div class="nav_left nav_icon">
                <a href="#/cards"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="nav_right nav_icon">
                <span style="font-size:23px;">14
                    </span>
                    <i class="fa fa-comments-o"></i>
            </div>
        </div>
        <h2  style="padding-left:10px;padding-right:10px;padding-top:55px;margin-top:0;">{{title}}</h2>
        <div ng-bind-html="trustedHTML" style="padding:10px;">

        </div>
</div>